.content {
  @include flexColumn;
  justify-content: center;
  align-items: center;

  &_isIt {
    background-color: $greyStyle;
  }

  &_audience {
    background-color: $whiteStyle;
  }

  &_order {
    background-color: $greyStyle;
  }

  @include onDesktop {
    flex-direction: row;
    justify-content: center;
  }

  &__itIs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 15px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      max-width: $breakpoint;
      height: 255px;
      padding: 77px 130px 77px 130px;
    }
  }

  &__customers {
    max-width: 320px;

    @include onDesktop {
      max-width: $breakpoint;
      padding: 77px 0;
    }
  }

  &__audience {
    width: 100vw;
    padding: 50px 15px;

    @include onDesktop {
      max-width: $breakpoint;
      padding: 108px 130px 140px 130px;
    }
  }

  &__order {
    width: 100vw;
    padding: 50px 15px;

    @include onDesktop {
      display: flex;
      flex-direction: row;
      max-width: $breakpoint;
      padding: 106px 230px 70px 170px;
    }
  }
}
