.header {
  @include flexColumn;
  align-items: center;

  box-sizing: border-box;

  background-color: #f3c6bd;

  height: 890px;

  @include onDesktop {
    height: 710px;
    width: 100vw;
  }

  &__content {
    width: 100vw;

    @include onDesktop {
      width: $breakpoint;
    }
  }

  &__top-actions {
    margin-bottom: 32px;
  }

  &__menu {
    display: none;

    width: 50%;

    @include onDesktop {
      display: block;
    }
  }

  &__info {
    @include flexColumn;
    align-items: flex-start;
    flex-wrap: wrap;

    @include onDesktop {
      flex-direction: row;
      min-width: $breakpoint;
    }
  }

  &__motto {
    margin: 24px auto;

    @include onDesktop {
      margin: -270px 0px 0px -750px;
    }
  }

  &__title {
    margin: auto;

    @include onDesktop {
      margin: -455px 0 0 126px;
    }
  }

  &__picture {
    order: 1;

    margin: 160px auto;

    @include onDesktop {
      order: 0;

      margin: 0 0 0 575px;
    }
  }

  &__actions {
    @include flexColumn;
    justify-content: space-between;

    height: 119px;

    margin: 30px auto 0 auto;

    @include onDesktop {
      flex-direction: row;
      width: 330px;

      margin: 58px 0 0 0;
    }
  }
}
