.heading {
  font-size: 22px;
  font-weight: 700;

  &_isIt {
    line-height: 32px;

    margin-bottom: 8px;
  }

  &_audience {
    line-height: 34px;

    margin-bottom: 15px;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &_footer {
    margin-bottom: 18px;
  }
}
