.illustration {
  @include flexColumn;

  &_customers {
    flex: 1;

    height: 94px;
    max-width: 107px;

    border: 1px solid $greyBorder;

    @include onDesktop {
      border: none;

      transform: scale(1.5);
    }
  }

  &_audience {
    flex: 1;

    height: 300px;
    width: 290px;

    background-color: $pureWhite;

    border-radius: 8px;

    padding-bottom: 20px;

    margin-bottom: 15px;

    @include onDesktop {
      max-width: 262px;
    }

    &_selected {
      background-color: #3141c5;
    }
  }

  &_order {
    flex: 1;

    height: 300px;
    width: 290px;

    padding-bottom: 20px;

    margin-bottom: 15px;

    @include onDesktop {
      max-width: 262px;
    }
  }

  &_footer {
    height: 80px;
  }
}
