.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #2B292D;
  text-decoration: none;
  line-height: 25px;

  &_footer {
    flex-direction: column;

    height: 130px;

    margin-bottom: 30px;
  }

  @include onDesktop {
    flex-direction: row;

    min-width: 293px;
  }

  &__image {
    width: 52px;
    height: 48px;

    &_footer {
      width: 60px;
      height: 60px;

      margin-bottom: 20px;

      @include onDesktop {
        margin-top: -70px;
      }
    }

    @include onDesktop {
      width: 66px;
      height: 60px;
    }
  }

  &__label {
    display: flex;
    
    height: 51px;

    &_footer {
      flex-direction: column;
      align-items: center;

      height: 51px;

      margin-bottom: 60px;

      @include onDesktop {
        margin-top: -30px;
      }
    }

    @include onDesktop {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__heading {
    line-height: 51px;

    font-weight: 700;
    font-size: 20px;

    @include onDesktop {
      line-height: 25px;
    }

    &_footer {
      line-height: 25px;
    }
  }

  &__write-up {
    display: none;

    &_footer {
      display: block;
      align-items: center;

      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
    }

    @include onDesktop {
      display: block;

      line-height: 25px;

      font-weight: 400;
      font-size: 18px;
    }
  }
}
