.main {
  @include flexColumn;
  justify-content: center;
  position: relative;

  &__line {
    position: relative;
    top: 280px;
    opacity: 0.3;

    @include onDesktop {
      top: 330px;
    }
  }
}
