.picture {
  display: block;
  
  height: 180px;
  width: 100%;

  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
  background-size: contain;
  background-position: (50% 100%);
  background-repeat: no-repeat;

  @include onDesktop {
    height: 488px;
    width: 796px;

    background-position: (100% 100%);
  }
}