.rubric {
  &_isIt {
    max-width: 290px;
    color: $text-grey;
    margin-bottom: 30px;

    @include onDesktop {
      height: 102px;
      max-width: 555px;
    }
  }

  &_audience {
    @include flexColumn;
    align-items: center;
    color: $text-grey;
  }

  &_order {
    @include flexColumn;
    align-items: center;
    color: $text-grey;

    @include onDesktop {
      margin-left: 125px;
    }
  }
}
