.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $pureWhite;

  padding: 0 0 0 12px;

  @include onDesktop {
    background-color: $pinkStyle;

    padding: 39px 130px;
    margin-bottom: 0;
  }
}
