$breakpoint: 1400px;

$text-grey: #2b292d;
$greyStyle: #f4f5f7;
$greyBorder: #f1f1f1;
$pureWhite: #ffffff;
$whiteStyle: #edf8fb;
$blueStyle: #3040c4;
$text-blue: #0000ef;
$blueHover: #3141c5;
$pinkStyle: #f3c6bd;
