@import 'utils/variables';
@import 'utils/mixins';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-actions';
@import 'blocks/nav-actions';
@import 'blocks/logo';
@import 'blocks/menu';
@import 'blocks/icon';
@import 'blocks/motto';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/picture';
@import 'blocks/main';
@import 'blocks/content';
@import 'blocks/rubric';
@import 'blocks/heading';
@import 'blocks/name';
@import 'blocks/indent';
@import 'blocks/actions';
@import 'blocks/gallery';
@import 'blocks/illustration';
@import 'blocks/image';
@import 'blocks/description';
@import 'blocks/comment';
@import 'blocks/footer';
@import 'blocks/info';

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 34px;
  padding: 0;
  margin: 0;
}
